{% extends 'AppBundle:Inicio:inicio.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Cursos</h2>
            <br/>
            <form class="form-horizontal" role="form" id="formCursos" method="POST" action="{{path('cursos_find', { find: 1})}}">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Facultad</label>
                    <div class="col-lg-10">
                        <select class="form-control" required id="facultadSelect" name="facultadSelect">
                            {% for facultadIter in facultades %}
                                <option value="{{facultadIter.idfacultad}}">{{facultadIter.nombrefacultad}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Escuela</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="escuelaSelect" required>
                            {% for escuelaIter in escuelas %}
                                <option value="{{escuelaIter.idescuela}}">{{escuelaIter.nombreescuela}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Ciclo</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="cicloSelect" required>
                            {% for cicloIter in ciclosList %}
                                <option value="{{cicloIter.idciclo}}">{{cicloIter.numerociclo}} {{cicloIter.aniociclo}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>                

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">Buscar Cursos</button>
                        <a class="btn btn-success" href="{{path('cursos_new')}}">Nuevo Curso</a>
                    </div>
                </div>
            </form>

            <br/>
            <table class="table table-striped table-hover">
                <tr>
                    <td>Facultad</td>
                    <td>Escuela</td>
                    <td>Ciclo</td>
                    <td>Curso</td>
                    <td>Docentes</td>
                    <td>Actividades</td>
                </tr>
                {% for cursoIter in cursosList %}
                    <tr>
                        <td>{{ cursoIter.siglasfacultad }}</td>
                        <td>{{ cursoIter.siglasescuela }}</td>
                        <td>{{ cursoIter.numerociclo }} {{ cursoIter.aniociclo }}</td>
                        <td>{{ cursoIter.nombremateria }}</td>
                        <td>
                            <a href="{{ path('cursos_gest_docentes', { idCurso: cursoIter.idcurso }) }}" class="btn btn-sm btn-primary">
                                {{ 'Gestionar Docentes'|trans }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('cursos_gest_actividades', { idCurso: cursoIter.idcurso }) }}" class="btn btn-sm btn-primary">
                                {{ 'Gestionar Actividades'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </div>

{% endblock %}