{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center"><p id="tituloVentana">Nuevo Curso</p></h1>
                <br/>
                
                <form class="form-horizontal" role="form" id="formCursos" method="POST" action="{{path('cursos_new_save')}}">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Ciclo</label>
                    <div class="col-lg-10">
                        <select class="form-control" required id="cicloSelect" name="cicloSelect">
                            {% for cicloIter in ciclosList %}
                                <option value="{{cicloIter.idciclo}}">{{cicloIter.numerociclo}} {{cicloIter.aniociclo}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Materia</label>
                    <div class="col-lg-10">
                        <select class="form-control" required id="materiaSelect" name="materiaSelect">
                            {% for materiaIter in materiasList %}
                                <option value="{{materiaIter.getIdmateria()}}">{{materiaIter.getNombremateria()}}</option>
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a class="btn btn-danger" href="{{path('cursos_index')}}">Volver</a>
                    </div>
                </div>

                </form>

                </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% block javascripts %}
    {{parent()}}
    <script language='Javascript' type='text/javascript'>
        $(document).ready(function() {
            $( "#facultadesSelect" ).change(function() {
                var path = "{{ path('find_escuelas') }}";
                
                bootbox.confirm(message, function(res){
            if(res == true)
            {
                $.post(path, data: { idfacultad: 1 }, function(result){
                    alert('Result');    
                });
                }
        });

                /*$.ajax({
                    type: 'POST',
                    url: path,
                    data: { idfacultad: 1 },
                    success: function(data) {
                        alert('Todo Bien');
                    }
                });*/

                //alert($( "#facultadesSelect option:selected" ).attr('value'));
            });
        });
    </script>
    {% endblock %}

{% endblock %}