<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administración de Aulas{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" /> 
            <link rel="stylesheet" href="{{ asset('public/css/dataTables.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/datepicker.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/fullcalendar.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/fullcalendar.print.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/stile.css') }}" />

            <link rel="stylesheet" href="{{ asset('public/css/bootstrap-datetimepicker.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap-datetimepicker.min.css') }}" />

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-1.11.3.min.js') }}"></script>
            <script src="{{ asset('public/js/dataTables.min.js') }}"></script>    
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap-datepicker.js') }}"></script>

            <script src="{{ asset('public/css/bootstrap-datetimepicker.min.js') }}"></script>

            <script src="{{ asset('public/css/locales/bootstrap-datetimepicker.fr.js') }}"></script>

            <script language='Javascript' type='text/javascript'>
                $(document).ready(function () {
                    $('.dropdown-toggle').dropdown();
                });
            </script>
        {% endblock %}
    </body>
</html>