{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center">Nuevo Empleado</h1>
                <br/>
                {{ form_start(form, { 'attr': {'novalidate':'novalidate', 'class': 'form-horizontal', 'role':'form'} }) }}

                <div class="form-group">
                    {{ form_label(form.nombreempleado, 'Nombre', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.nombreempleado, { 'attr': {'class': 'form-control'} }) }}
                        <span class="text-danger" >{{ form_errors(form.nombreempleado) }}</span>                        
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.fechaingreso, 'Fecha de Ingreso', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.fechaingreso) }}
                        <span class="text-danger" >{{ form_errors(form.fechaingreso) }}</span>                        
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.idpuesto, 'Puesto', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.idpuesto, { 'attr': {'class': 'form-control'} }) }}
                        <span class="text-danger" >{{ form_errors(form.idpuesto) }}</span>                        
                    </div>
                </div>

                <div class="text-right">
                    <input class="btn btn-success" type="submit" value="Guardar">
                </div>

                {{ form_end(form) }}
                

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <!--JAVASCRIPT PARA POPUP Y DATATABLES-->
    {% block javascripts %}
        {{ parent() }}
        
        <script type="text/javascript">
            $(document).ready(function () {
                
                $('.calendario').datepicker({
                    format: "yyyy-mm-dd"
                });  
                
            });
        </script>
        
    {% endblock %}
{% endblock %}
