{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center">Eliminar Usuario</h1>

                <br/>
                <form class="form-horizontal" role="form">

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Id</label>
                        <div class="col-sm-10">
                            <label class="form-control">{{ tblUsuario.idusuario }}</label>
                        </div>
                    </div>

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <label class="form-control">{{ tblUsuario.nombreusuario }}</label>
                        </div>
                    </div>

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Usuario</label>
                        <div class="col-sm-10">
                            <label class="form-control">{{ tblUsuario.usuario }}</label>
                        </div>
                    </div>
                    

                    
                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Fecha de Alta</label>
                        <div class="col-sm-10">
                            <label class="form-control">{% if tblUsuario.fechaalta %}{{ tblUsuario.fechaalta|date('Y-m-d') }}{% endif %}</label>
                        </div>
                    </div>

                    

                </form>         

                <div class="text-right">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Eliminar">
                    {{ form_end(delete_form) }}
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


{% endblock %}
