{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="text-center">Editar Ciclo</h1>
            <br/>
            {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal', 'role':'form'} }) }}

                <div class="form-group">
                    {{ form_label(edit_form.aniociclo, 'Año', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.aniociclo, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.numerociclo, 'Número de Ciclo', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.numerociclo, { 'attr': {'class': 'form-control'} }) }}                        
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.fechainicio, 'Fecha Inicio', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.fechainicio) }}                        
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(edit_form.fechafin, 'Fecha Fin', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.fechafin) }}                        
                    </div>
                </div>
                <div class="text-right">
                    <input class="btn btn-success" type="submit" value="Guardar">
                </div>

            {{ form_end(edit_form) }}
 

<!--JAVASCRIPT PARA POPUP Y DATATABLES-->
  {% block javascripts %}
    {{ parent() }}
      
      <script type="text/javascript">
            $(document).ready(function () {
                
                $('.calendario').datepicker({
                    format: "yyyy-mm-dd"
                });  
            
            });
        </script>
      
  {% endblock %}




{% endblock %}
