{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="text-center">Eliminar Perfil Detalle</h1>

                <br/>
                <form class="form-horizontal" role="form">

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Perfil</label>
                        <div class="col-sm-10">
                            <label class="form-control">{{ tblPerfildetalle.idperfil }}</label>
                        </div>
                    </div>

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Menu Padre</label>
                        <div class="col-sm-10">
                            <label class="form-control">{{ tblPerfildetalle.idmenu }}</label>
                        </div>
                    </div>

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Sub Menu</label>
                        <div class="col-sm-10">
                            <label class="form-control">{{ tblPerfildetalle.idsubmenu }}</label>
                        </div>
                    </div>

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Comentario</label>
                        <div class="col-sm-10">
                            <label class="form-control">{{ tblPerfildetalle.comentario }}</label>
                        </div>
                    </div>                   

                    <div class="form-group">                     
                        <label class="col-sm-2 control-label">Fecha de Alta</label>
                        <div class="col-sm-10">
                            <label class="form-control">{% if tblPerfildetalle.fechaalta %}{{ tblPerfildetalle.fechaalta|date('Y-m-d') }}{% endif %}</label>
                        </div>
                    </div>

                </form>         

                <div class="text-right">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Eliminar">
                    {{ form_end(delete_form) }}
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
{% endblock %}
