{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="row">
      <div class="col-md-2"></div>
      
      <div class="col-md-8">

        <h1>
          Carreras   
          <div class="pull-right">
            <a class="btn btn-info" href="" onclick="return modalillo('{{ path('tblcarreras_new') }}','height=350,width=800')">Nueva Carrera</a>
        </div>
    </h1>


    <div class="clearfix"></div>

    <br />
    <br />

    <table id="dataTable" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Escuela</th>             
                <th>Descripción</th>
                <th class="text-center" >Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tblCarrera in tblCarreras %}
                <tr>    
                    <td>{{ tblCarrera.nombrecarrera }}</td>
                    <td>{{ tblCarrera.codigocarrera }}</td>
                    <td>{{ tblCarrera.idescuela.nombreescuela }}</td>
                    <td>{{ tblCarrera.descripcioncarrera }}</td>
                    <td class="text-center">

                      <a class="btn btn-default" href="" onclick="return modalillo('{{ path('tblcarreras_show', { 'id': tblCarrera.idcarrera }) }}','height=420,width=800')" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                      <a class="btn btn-default" href="" onclick="return modalillo('{{ path('tblcarreras_edit', { 'id': tblCarrera.idcarrera }) }}','height=350,width=800')" ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                      <a class="btn btn-default" href="" onclick="return modalillo('{{ path('tblcarreras_sup', { 'id': tblCarrera.idcarrera }) }}','height=420,width=800')" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                      
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

</div>

<div class="col-md-2"></div>
</div>

<!--JAVASCRIPT PARA POPUP Y DATATABLES-->
{% block javascripts %}
    {{ parent() }}
    <script language='Javascript' type='text/javascript'>
        
        function modalillo(url, propiedades) {
          newwindow=window.open(url,'name',propiedades);
          if (window.focus) {newwindow.focus()}
              return false;
      }


      $(document).ready(function() {
        $('#dataTable').dataTable( {
          destroy: true,
          "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
    });

  </script> 
{% endblock %}

{% endblock %}
